
services:
  app:
    image: ghcr.io/${REPO_NAME}:${APP_TAG}
    container_name: ${IMAGE_NAME}
    ports:
      - "172.17.0.1:${PORT}:8080" # host.docker.internal
      - "127.0.0.1:${PORT}:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      QUARKUS_PROFILE: prod
      QUARKUS_HTTP_PORT: 8080
    env_file:
      - ./application-prod.properties
    volumes:
      - ./tdlight-session:/tdlight-session
